@import '../style/style.scss';

.info{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    background: $grey;
    &__list{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        width: 40%;
        height: max-content;
        padding-bottom: 60px;
        background-color: $dark;
        border-radius: 40px;
        &-add{
            display: flex;
            justify-content: end;
            margin: 20px 10px 20px 0    ;
            button{
                height: 20px;
                width: 60px;
                padding: 0;
                text-align: center;
            }
        }
        h2{
            font-size: 47px;
            text-align: center;
            margin-bottom: 20px;
        }
        ul{
            padding: 0 10% 0 10%;
            li{
                display: flex;
                justify-content: space-between;
                background: white;
                border-radius: 10px;
                margin-bottom: 10px;
                p{
                    color: black;
                    margin: 0 16px 0 16px;
                }
            }
            li:nth-child(1){
                background-color: $gold;
            }
            li:nth-child(2){
                background-color: $silver;
            }
            li:nth-child(3){
                background-color: $bronze;
            }
        }
        
    }
    &__selected{
        width: 55%;
        height: max-content;
        padding-bottom: 40px;
        padding-top: 20px;
        background-color: $dark;
        border-radius: 40px;
        &-title{
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: auto;
            p{
                font-size: 67px;
                font-weight: 600;
            }

        }
        &-review{

            margin: 20px auto 20px auto;
            
            width: 70%;
            textarea{
                width: 100%;
                min-height: 200px;
                resize: none;
                outline: none;
                border-radius: 20px;
            }

        }
    }
}
.info__list-wrapper{
    width: 80%;
    padding-bottom: 30px;
    background: $grey;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
